/*
#General Settings
*/
body {
    font-family: 'Big Shoulders Display', cursive;
}

h2,
h3,
h4,
h5,
h6 a {
    font-family: 'Open Sans', sans-serif;
    color: #e74c3c;
}

p {
    font-size: 18px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

.section-box {
    padding: 120px;
}

.section-top {
    margin-bottom: 30px;
}

.section-top hr {
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: #e74c3c;
    border: none;
}

/*
#Navigation
*/
.navbar-brand {
    transition: all .5s;
}

.navbar-brand:hover {
    color: #e74c3c !important;

}

nav. navbar-container {
    padding-top: 20px;
}

#mainNav {
    background-color:  !transparent;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 9px;
    font-weight: 400;
    padding: 12px 10px;
    letter-spacing: 3px;
    color: white;
    transition: all .5s;
    font-weight: 900;

}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #e74c3c;
}

nav.shrink {
    padding: 0;
    background-color: #e74c3c;
}


#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #e74c3c;
}

nav.shrink .navbar-nav .nav-item .nav-link:hover,
nav.shrink .navbar-brand:hover {
    color: black !important;
}





.navbar-brand.shrink,
.navbar-container.shrink,
.navbar.fixed-top.shrink,
navbar-brand,
.navbar-container {
    transition: .8s;
}












/*
#Hero Section
*/

#hero {
    text-align: center;
    color: white;
    background: linear-gradient(rgba(20, 20, 20, .4), rgba(20, 20, 20, .1)),
        url("../image/m2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

#hero .container {
    display: table;
    height: 100%;
    padding-top: 300px;

}

#hero .intro-text {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 300px;
}

#hero .intro-heading {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 200px;
}

#hero .intro-heading span {
    color: #e74c3c;
    font-size: 62px;
}

.btn-main {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    margin: 10px;
    border: 3px solid #fff;
    color: #e74c3c;
    transition: all .5s;
    font-weight: 900;
}

.btn-main:hover {
    background: #e74c3c;
    border: 2px solid #e74c3c;
    color: #fff;
}


/*
#Who we Ares Section
*/

#whoweare {
    background-color: #f2f2f2;
}

.whoweare-item {
    padding: 60px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1s);
}

.whoweare-item i {
    font-size: 42px;
    margin-bottom: 10px;
    color: #e74c3c;
}

.whoweare-item hr {
    width: 45px;
    height: 2px;
    background-color: #e74c3c;
    border: none;
    margin: 0 auto;
}

.whoweare-item p {
    margin-top: 20px;
}

.whoweare-item:hover {
    background-color: #e74c3c;
    cursor: pointer;
}

.whoweare-item:hover i,
.whoweare-item:hover h3,
.whoweare-item:hover p {
    color: #fff;
}

.whoweare-item:hover hr {
    background-color: #fff;
    width: 75px;
}

.whoweare-item:hover i {
    transform: translateY(-20px);
}

.whoweare-item,
.whoweare-item i,
.whoweare-item hr {
    transition: all .5s ease-in-out;
}

/*
#Statemet Section
*/

#statement {
    text-align: center;
    color: white;
    background: linear-gradient(rgba(20, 20, 20, .4), rgba(20, 20, 20, .1)),
        url("../image/cccard1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#statement h4 {
    color: #fff;
}


/*
#Statemet Section
*/

#latesprojects {
    background-color: #f2f2f2;
}

#latesprojects .project-text {
    padding: 30px;
}

#latesprojects .project-text hr {
    border-color: #fff;
    border-width: 2px;
    width: 25%;
}

#latesprojects .project-text:hover hr {
    width: 50%;
}

.bg-orange {
    background-color: #e74c3c;
}

.btn-white {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 19px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: aliceblue;
    transition: all .5s;
}


.btn-white:hover {
    background-color: aliceblue;
    color: #e74c3c;
    border: 1px solid #fff;

}


/*
#Statemet Section
*/

footer {
    background-color: #000;
    padding: 20px 0 10px;
    font-size: 14px;
}

footer p {
    margin: 0;
}

/*
#Inside Hero About Section
*/

.page-image {
    display: table;
    width: 100%;
}

.page-image-about {
    text-align: center;
    color: white;
    background: linear-gradient(rgba(20, 20, 20, .4), rgba(20, 20, 20, .1)),
        url("../image/nasa.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.page-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 200;

}


/*
#About Us Section
*/

#aboutUs {
    background-color: #f2f2f2;
}

#aboutUs .project-text {
    padding: 30px;

}

/*
#Team  Section
*/

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;

}

.team-member p {
    margin-top: 0;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: aliceblue;
}

ul.social-buttons li a:hover {
    background-color: darkblue;
    transition: all .5s;
}


/*
#PORTFOLİO  Section
*/

.page-image-fortfolio {
    text-align: center;
    color: white;
    background: linear-gradient(rgba(20, 20, 20, .4), rgba(20, 20, 20, .1)),
        url("../image/naber1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

.portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

.portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s;

}

.portfolio-hover:hover {
    opacity: 1;
}

.portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

.portfolio-hover-content i{
    margin-top: -12px;
}

.portfolio-caption{
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}


.portfolio-caption h4{
    margin: 0;
    text-transform: uppercase;
    
}

.portfolio-caption p{
    font-size: 16px;
    font-style: italic;
    margin: 0;
}

/*#Contact  Section
*/

.page-image-contact {
    text-align: center;
    color: white;
    background: linear-gradient(rgba(20, 20, 20, .4), rgba(20, 20, 20, .1)),
        url("../image/naber1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.form-group {
    margin-bottom: 25px;
    
    
}

.form-group input,
.form-group textarea{
    padding: 20px;
}

.form-group input.form-control{
    height: auto;
   
    
}

.form-group textarea.form-control{
    height: 248px;
}


.form-control:focus{
    border-color: #e74c3c;
    box-shadow: none;
}

.btn-contact{
    background-color: #e73c3c;
    color: #fff;
}

.btn-contact:hover{
    background-color: #fff;
    color: #e74c3c;
}

